
<div *ngIf="accountsReceivable">
    <h2><span jhiTranslate="billingWebApp.accountsReceivable.detail.title">Accounts Receivable</span> {{accountsReceivable.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="billingWebApp.accountsReceivable.previousBalance">Previous Balance</span></dt>
        <dd>
            <span>{{accountsReceivable.previousBalance}}</span>
        </dd>
        <dt><span jhiTranslate="billingWebApp.accountsReceivable.paymentsReceived">Payments Received</span></dt>
        <dd>
            <span>{{accountsReceivable.paymentsReceived}}</span>
        </dd>
        <dt><span jhiTranslate="billingWebApp.accountsReceivable.outstandingBalance">Outstanding Balance</span></dt>
        <dd>
            <span>{{accountsReceivable.outstandingBalance}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'accounts-receivable/'+ accountsReceivable.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
