<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAccountsReceivableLabel" jhiTranslate="billingWebApp.accountsReceivable.home.createOrEditLabel">Create or edit a Accounts Receivable</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!accountsReceivable.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="accountsReceivable.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.accountsReceivable.previousBalance" for="field_previousBalance">Previous Balance</label>
            <input type="number" class="form-control" name="previousBalance" id="field_previousBalance"
                [(ngModel)]="accountsReceivable.previousBalance" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.accountsReceivable.paymentsReceived" for="field_paymentsReceived">Payments Received</label>
            <input type="number" class="form-control" name="paymentsReceived" id="field_paymentsReceived"
                [(ngModel)]="accountsReceivable.paymentsReceived" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.accountsReceivable.outstandingBalance" for="field_outstandingBalance">Outstanding Balance</label>
            <input type="number" class="form-control" name="outstandingBalance" id="field_outstandingBalance"
                [(ngModel)]="accountsReceivable.outstandingBalance" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
