<!-- <div>
    <h2>
        <span jhiTranslate="billingWebApp.alert.home.title">Alerts</span>
        <button class="btn btn-primary float-right jh-create-entity create-alert" [routerLink]="['/', { outlets: { popup: ['alert-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="billingWebApp.alert.home.createLabel">
            Create new Alert
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'billingWebApp.alert.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="alerts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="billingWebApp.alert.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="priority"><span jhiTranslate="billingWebApp.alert.priority">Priority</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="category"><span jhiTranslate="billingWebApp.alert.category">Category</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="assignedTo"><span jhiTranslate="billingWebApp.alert.assignedTo">Assigned To</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="billingWebApp.alert.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModified"><span jhiTranslate="billingWebApp.alert.lastModified">Last Modified</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="siteAccountId"><span jhiTranslate="billingWebApp.alert.siteAccount">Site Account</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alert of alerts ;trackBy: trackId">
                <td><a [routerLink]="['../alert', alert.id ]">{{alert.id}}</a></td>
                <td>{{alert.description}}</td>
                <td jhiTranslate="{{'billingWebApp.AlertPriority.' + alert.priority}}">{{alert.priority}}</td>
                <td jhiTranslate="{{'billingWebApp.AlertCategory.' + alert.category}}">{{alert.category}}</td>
                <td>{{alert.assignedTo}}</td>
                <td>{{alert.createdDate | date:'medium'}}</td>
                <td>{{alert.lastModified | date:'medium'}}</td>
                <td>
                    <div *ngIf="alert.siteAccountId">
                        <a [routerLink]="['../site-account', alert.siteAccountId  ]" >{{alert.siteAccountId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../alert', alert.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'alert/'+ alert.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'alert/'+ alert.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="alerts && alerts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div> -->
