<main class="dashboard-container">
    <jhi-dashboard-navbar
        (toggleSideBar)="handleToggleSideBar()"
        [layoutOptions]="layoutOptions"
    ></jhi-dashboard-navbar>
    <section class="dashboard-content-container" [ngClass]="{collapsed: !sideBarVisible}">
        <div *ngIf="!sideBarVisible" (click)="handleToggleSideBar()" class="overlay"></div>
        <aside class="dashboard-sidebar">
            <jhi-dashboard-sidebar
                [layoutOptions]="layoutOptions"
            ></jhi-dashboard-sidebar>
        </aside>
        <div class="dashboard-content">
            <div class="dashboard-content-inner">
                <div *ngIf="showStoresList">
                    <jhi-stores-list
                        [layoutOptions]="layoutOptions"
                        (onSiteClick)="handleSiteClick($event)"
                    ></jhi-stores-list>
                </div>
                <div *ngIf = "showInvoiceList">
                    <jhi-dashboard-invoice
                        [layoutOptions]="layoutOptions" 
                        (onBackClick)= "showStoreListTable()"
                    ></jhi-dashboard-invoice>
                </div>
                <!-- <router-outlet></router-outlet> -->
            </div>
        </div>
    </section>
</main>