<section class="stores-list-container">
    <div *ngIf="!storeList" class="loading">
       <div class="loader"></div>
    </div>
    <div *ngIf="storeList" class="header">
        <h1>Bill History</h1>
    </div>
    <div *ngIf="storeList" class="stores-list">
        <table class="table table-bordered table-responsive-md table-striped text-center">
            <tbody>
                <tr>
                    <th class="text-center">Budderfly Account Id</th>
                    <th class="text-center">Address</th>
                    <th class="text-center">Balance</th>
                    <th class="text-center">Bill Amount Due</th>
                    <th class="text-center">Due Date</th>
                </tr>
                <tr *ngFor="let store of storeList ; let i = index"
                    class="store-item-row" 
                >
                    <td><a (click) = "handleSiteClick(store.budderflyId)">{{store.budderflyId || '-'}}</a></td>
                    <td>{{store.address || '-'}}</td>
                    <td>{{store.balance | currency}}</td>
                    <td>{{store.amountDue | currency}}</td>
                    <td>{{store.dueDate || '-'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
