
<div *ngIf="expectedSavings">
    <h2><span jhiTranslate="billingWebApp.expectedSavings.detail.title">Expected Savings</span> {{expectedSavings.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="billingWebApp.expectedSavings.customerType">Customer Type</span></dt>
        <dd>
            <span>{{expectedSavings.customerType}}</span>
        </dd>
        <dt><span jhiTranslate="billingWebApp.expectedSavings.solution">Solution</span></dt>
        <dd>
            <span>{{expectedSavings.solution}}</span>
        </dd>
        <dt><span jhiTranslate="billingWebApp.expectedSavings.savingPercentage">Saving Percentage</span></dt>
        <dd>
            <span>{{expectedSavings.savingPercentage}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'expected-savings/'+ expectedSavings.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
