<div>
    <h2>
        <span jhiTranslate="billingWebApp.dataRetention.home.title">Data Retentions</span>
        <button class="btn btn-primary float-right jh-create-entity create-data-retention" [routerLink]="['/', { outlets: { popup: ['data-retention-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="billingWebApp.dataRetention.home.createLabel">
            Create new Data Retention
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'billingWebApp.dataRetention.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dataRetentions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="serviceName"><span jhiTranslate="billingWebApp.dataRetention.serviceName">Service Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="serviceDescription"><span jhiTranslate="billingWebApp.dataRetention.serviceDescription">Service Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="serviceRetentionPeriodYear"><span jhiTranslate="billingWebApp.dataRetention.serviceRetentionPeriodYear">Service Retention Period Year</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="serviceRetentionPeriodMonth"><span jhiTranslate="billingWebApp.dataRetention.serviceRetentionPeriodMonth">Service Retention Period Month</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="serviceRetentionPeriodDay"><span jhiTranslate="billingWebApp.dataRetention.serviceRetentionPeriodDay">Service Retention Period Day</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="serviceEndpoint"><span jhiTranslate="billingWebApp.dataRetention.serviceEndpoint">Service Endpoint</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let dataRetention of dataRetentions ;trackBy: trackId">
                <td><a [routerLink]="['../data-retention', dataRetention.id ]">{{dataRetention.id}}</a></td>
                <td>{{dataRetention.serviceName}}</td>
                <td>{{dataRetention.serviceDescription}}</td>
                <td>{{dataRetention.serviceRetentionPeriodYear}}</td>
                <td>{{dataRetention.serviceRetentionPeriodMonth}}</td>
                <td>{{dataRetention.serviceRetentionPeriodDay}}</td>
                <td>{{dataRetention.serviceEndpoint}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../data-retention', dataRetention.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'data-retention/'+ dataRetention.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'data-retention/'+ dataRetention.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
