<div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="alertActivities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="user"><span jhiTranslate="billingWebApp.alertActivity.user">User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activity"><span jhiTranslate="billingWebApp.alertActivity.activity">Activity</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="level"><span jhiTranslate="billingWebApp.alertActivity.level">Level</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="message"><span jhiTranslate="billingWebApp.alertActivity.message">Message</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="billingWebApp.alertActivity.date">Date</span> <span class="fa fa-sort"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alertActivity of alertActivities ;trackBy: trackId">
                <td>{{alertActivity.user}}</td>
                <td jhiTranslate="{{'billingWebApp.AlertActivityAction.' + alertActivity.activity}}">{{alertActivity.activity}}</td>
                <td jhiTranslate="{{'billingWebApp.ActivityLevel.' + alertActivity.level}}">{{alertActivity.level}}</td>
                <td>{{alertActivity.message}}</td>
                <td>{{alertActivity.date | date:'medium'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="alertActivities && alertActivities.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
