<form name="editForm" role="form" novalidate #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" id="mySiteLabel" jhiTranslate="billingWebApp.iot.home.discoverGGFacilityControllers">Discover GG Facility Controllers</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-group">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="provisionSelected()">
            <span class="fa"></span>&nbsp;<span jhiTranslate="billingWebApp.iot.provisionSelected">Provision Selected Items</span>
        </button>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <div *ngIf="provisioningFinished; else spinner"></div>
    <ng-template #spinner>
        <div>
            <div class="text-center">
                <div class="spinner-border">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </ng-template>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th ><input type="checkbox" class="form-control" name="selectAll" id="selectAll" (change)="selectAllItems()"
                    [(ngModel)]="selectAll"/></th>
                <th ><span jhiTranslate="billingWebApp.iot.ipAddress">IP Address</span></th>
                <th ><span jhiTranslate="billingWebApp.iot.status">Status</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of discoveredItems">
                <td><input type="checkbox" class="form-control" name="enabled__{{item.ipAddress}}" id="field_enabled__{{item.ipAddress}}"
                    [(ngModel)]="item.check"/></td>
                <td>{{item.ipAddress}}</td>
                <td>{{item.status}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                (click)="kittingProces(item)"
                                class="btn btn-primary btn-sm">
                            <span class="fa"></span>
                            <span class="d-none d-md-inline" jhiTranslate="billingWebApp.iot.startProvisioning">Start Provisioning</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
