
<div *ngIf="adjustment">
    <h2><span jhiTranslate="billingWebApp.adjustment.detail.title">Adjustment</span> {{adjustment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="billingWebApp.adjustment.name">Name</span></dt>
        <dd>
            <span>{{adjustment.name}}</span>
        </dd>
        <dt><span jhiTranslate="billingWebApp.adjustment.total">Total</span></dt>
        <dd>
            <span>{{adjustment.total}}</span>
        </dd>
        <dt><span jhiTranslate="billingWebApp.adjustment.invoiceSection">Invoice Section</span></dt>
        <dd>
            <span jhiTranslate="{{'billingWebApp.InvoiceSection.' + adjustment.invoiceSection}}">{{adjustment.invoiceSection}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'adjustment/'+ adjustment.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
