<main class="home-container">
    <div class="home-container-inner">
        <div class="row">
            <div class="container col-sm-12 col-md-10 col-lg-8 col-xl-5">
                <div class="logo-container row">
                    <div class="logo col-12 col-sm-12">
                        <div class="logo-text">
                            <img src='../../content/images/budderfly-logo-primary-large.png' alt='Portal logo' />
                        </div>
                        <h2>Welcome to Budderfly</h2>
                    </div>
                </div>
                <jhi-login-component *ngIf="activeForm === 'login'"
                    (gotToRegister)="onRegisterClick()"
                    (goToForgot)="onForgotPasswordClick()"
                ></jhi-login-component>
                <jhi-register-component *ngIf="activeForm === 'register'"
                    (goToLogin)="onLoginClick()"
                >
                </jhi-register-component>
                <jhi-reset-component *ngIf="activeForm === 'reset'"
                    (gotToLogin)="onLoginClick()"
                >
                </jhi-reset-component>
                </div>
            </div>
        </div>
    </div>
</main>