<div class="sidebar-container">
    <ul class="sidebar-list">
        <li class="sidebar-list-item">
                <a href="/#/main">
                    <fa-icon icon="home" fixedWidth="true" class="icon"></fa-icon>
                    Autopay
                </a>
        </li>
        <br>
        <li class="sidebar-list-item">
            <a
            href="/homebillingweb/" class="active"
            >
                <fa-icon icon="tasks" fixedWidth="true" class="icon"></fa-icon>
                Billing
            </a>
        </li>
        <!-- <li class="sidebar-list-item">
            <a 
                [routerLink]="['/dashboard/payments']"
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}"
            >
                <fa-icon icon="tasks" fixedWidth="true" class="icon"></fa-icon>
                payments
            </a>
        </li> -->
        <!-- <li class="sidebar-list-item">
            <a 
                [routerLink]="['/dashboard/invoices']"
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}"
            >
                <fa-icon icon="file-text-o" fixedWidth="true" class="icon"></fa-icon>
                invoices
            </a>
        </li> -->
    </ul>
</div>