<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBillingCycleLabel" jhiTranslate="billingWebApp.billingCycle.home.createOrEditLabel">Create or edit a Billing Cycle</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!billingCycle.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="billingCycle.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.billingCycle.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="billingCycle.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.billingCycle.dueDate" for="field_dueDate">Due Date</label>
            <div class="input-group">
                <input id="field_dueDate" type="text" class="form-control" name="dueDate" ngbDatepicker  #dueDateDp="ngbDatepicker" [(ngModel)]="billingCycle.dueDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dueDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.billingCycle.statementDate" for="field_statementDate">Statement Date</label>
            <div class="input-group">
                <input id="field_statementDate" type="text" class="form-control" name="statementDate" ngbDatepicker  #statementDateDp="ngbDatepicker" [(ngModel)]="billingCycle.statementDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="statementDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.billingCycle.notes" for="field_notes">Notes</label>
            <textarea rows="8" class="form-control" name="notes" id="field_notes"
                [(ngModel)]="billingCycle.notes" >
            </textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.billingCycle.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="billingCycle.status" id="field_status" >
                <option value="OPEN">{{'billingWebApp.BillingCycleStatus.OPEN' | translate}}</option>
                <option value="CLOSED">{{'billingWebApp.BillingCycleStatus.CLOSED' | translate}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
