<section class="stores-list-container">
    <div *ngIf="!invoiceList" class="loading">
       <div class="loader"></div>
    </div>
    <div *ngIf="invoiceList" class="header">
        <h1>Bill History</h1>
    </div>
</br>
    <div *ngIf="invoiceList" class="stores-list">
        <h3>Site - {{budderflyId}}</h3>
        <table class="table table-bordered table-responsive-md table-striped text-center">
            <tbody>
                <tr>
                    <th class="text-center">Invoice Number</th>
                    <th class="text-center">Statement Date</th>
                    <th class="text-center">Due Date</th>
                    <th class="text-center">Prior Balance</th>
                    <th class="text-center">Other Charges</th>
                    <th class="text-center">Amount Due</th>
                </tr>
                <tr *ngFor="let invoice of invoiceList ; let i = index"
                    class="store-item-row" 
                >
                    <td>{{invoice.invoiceNumber || '-'}}</a></td>
                    <td>{{invoice.statementDate || '-'}}</td>
                    <td>{{invoice.dueDate || '-'}}</td>
                    <td>{{invoice.priorBalance | currency}}</td>
                    <td>{{invoice.totalOtherCharges + invoice.totalNewElectricCharges + invoice.taxes | currency}}</td>
                    <td>{{invoice.amountDue | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
