
<div *ngIf="jobExecutionAuditLog">
    <h2><span jhiTranslate="billingWebApp.jobExecutionAuditLog.detail.title">Job Execution Audit Log</span> {{jobExecutionAuditLog.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="billingWebApp.jobExecutionAuditLog.jobExecutionType">Job Execution Type</span></dt>
        <dd>
            <span jhiTranslate="{{'billingWebApp.JobExecutionType.' + jobExecutionAuditLog.jobExecutionType}}">{{jobExecutionAuditLog.jobExecutionType}}</span>
        </dd>
        <dt><span jhiTranslate="billingWebApp.jobExecutionAuditLog.executionMessage">Execution Message</span></dt>
        <dd>
            <span>{{jobExecutionAuditLog.executionMessage}}</span>
        </dd>
        <dt><span jhiTranslate="billingWebApp.jobExecutionAuditLog.executionDate">Execution Date</span></dt>
        <dd>
            <span>{{jobExecutionAuditLog.executionDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="billingWebApp.jobExecutionAuditLog.jobDescription">Job Description</span></dt>
        <dd>
            <div *ngIf="jobExecutionAuditLog.jobDescriptionId">
                <a [routerLink]="['/job-description', jobExecutionAuditLog.jobDescriptionId]">{{jobExecutionAuditLog.jobDescriptionId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'job-execution-audit-log/'+ jobExecutionAuditLog.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
