<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myContactLabel" jhiTranslate="billingWebApp.contact.home.createOrEditLabel">Create or edit a Contact</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!contact.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="contact.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.contact.contactType" for="field_contactType">Contact Type</label>
            <input type="text" class="form-control" name="contactType" id="field_contactType"
                [(ngModel)]="contact.contactType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.contact.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="contact.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.contact.phoneNumber" for="field_phoneNumber">Phone Number</label>
            <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                [(ngModel)]="contact.phoneNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.contact.webPage" for="field_webPage">Web Page</label>
            <input type="text" class="form-control" name="webPage" id="field_webPage"
                [(ngModel)]="contact.webPage" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.contact.notes" for="field_notes">Notes</label>
            <input type="text" class="form-control" name="notes" id="field_notes"
                [(ngModel)]="contact.notes" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.contact.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                [(ngModel)]="contact.city" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.contact.street" for="field_street">Street</label>
            <input type="text" class="form-control" name="street" id="field_street"
                [(ngModel)]="contact.street" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.contact.zipCode" for="field_zipCode">Zip Code</label>
            <input type="text" class="form-control" name="zipCode" id="field_zipCode"
                [(ngModel)]="contact.zipCode" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.contact.country" for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                [(ngModel)]="contact.country" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.contact.contactEmail" for="field_contactEmail">Contact Email</label>
            <input type="text" class="form-control" name="contactEmail" id="field_contactEmail"
                [(ngModel)]="contact.contactEmail" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.contact.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="contact.createdDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.contact.lastModifyDate" for="field_lastModifyDate">Last Modify Date</label>
            <div class="d-flex">
                <input id="field_lastModifyDate" type="datetime-local" class="form-control" name="lastModifyDate" [(ngModel)]="contact.lastModifyDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.contact.modifiedBy" for="field_modifiedBy">Modified By</label>
            <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                [(ngModel)]="contact.modifiedBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.contact.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="contact.createdBy" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
