<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRateChargeMappingLabel" jhiTranslate="billingWebApp.rateChargeMapping.home.createOrEditLabel">Create or edit a Rate Charge Mapping</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.rateChargeMapping.bdChargeId" for="field_bdChargeId">Bd Charge Id</label>
            <input type="text" class="form-control" name="bdChargeId" id="field_bdChargeId"
                [(ngModel)]="rateChargeMapping.bdChargeId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.rateChargeMapping.bdChargeDescription" for="field_bdChargeDescription">Bd Charge Description</label>
            <input type="text" class="form-control" name="bdChargeDescription" id="field_bdChargeDescription"
                [(ngModel)]="rateChargeMapping.bdChargeDescription" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.rateChargeMapping.bdInvoiceSection" for="field_bdInvoiceSection">Bd Invoice Section</label>
            <select class="form-control select-rates" id="field_bdInvoiceSection" name="field_bdInvoiceSection"
                    [(ngModel)]="rateChargeMapping.bdInvoiceSection">
                <option *ngFor="let invoiceSection of invoiceSectionsMap;" value="{{invoiceSection.key}}">{{invoiceSection.value}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.rateChargeMapping.rateMapped" for="field_rateMapped">Rate Mapped</label>
            <input type="checkbox" class="form-control" name="rateMapped" id="field_rateMapped"
                   [(ngModel)]="rateChargeMapping.rateMapped" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.rateChargeMapping.ignoreExport" for="field_ignoreExport">Ignore Export</label>
            <input type="checkbox" class="form-control" name="ignoreExport" id="field_ignoreExport"
                   [(ngModel)]="rateChargeMapping.ignoreExport" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.rateChargeMapping.forceOptional" for="field_forceOptional">Force Optional</label>
            <input type="checkbox" class="form-control" name="forceOptional" id="field_forceOptional"
                   [(ngModel)]="rateChargeMapping.forceOptional" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.rateChargeMapping.provider" for="field_provider">Provider</label>
            <select class="form-control" id="field_provider" name="provider" [(ngModel)]="rateChargeMapping.providerId" [disabled]="rateChargeMapping.id !== undefined">
                <option [ngValue]="null"></option>
                <option [ngValue]="providerOption.id" *ngFor="let providerOption of providers; trackBy: trackProviderById">{{providerOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.rateChargeMapping.rateName" for="field_rateName">Rate Name</label>
            <input type="text" class="form-control" name="rateName" id="field_rateName" [disabled]="rateChargeMapping.id !== undefined"
                [(ngModel)]="rateChargeMapping.rateName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.rateChargeMapping.rateGroupName" for="field_rateGroupName">Rate Group Name</label>
            <input type="text" class="form-control" name="rateGroupName" id="field_rateGroupName" [disabled]="rateChargeMapping.id !== undefined"
                [(ngModel)]="rateChargeMapping.rateGroupName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.rateChargeMapping.chargeClass" for="field_chargeClass">Charge Class</label>
            <input type="text" class="form-control" name="chargeClass" id="field_chargeClass" [disabled]="rateChargeMapping.id !== undefined"
                [(ngModel)]="rateChargeMapping.chargeClass" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.rateChargeMapping.seasonName" for="field_seasonName">Season Name</label>
            <input type="text" class="form-control" name="seasonName" id="field_seasonName" [disabled]="rateChargeMapping.id !== undefined"
                [(ngModel)]="rateChargeMapping.seasonName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="billingWebApp.rateChargeMapping.applicabilityValue" for="field_applicabilityValue">Applicability Value</label>
            <input type="text" class="form-control" name="applicabilityValue" id="field_applicabilityValue" [disabled]="rateChargeMapping.id !== undefined"
                   [(ngModel)]="rateChargeMapping.applicabilityValue" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
